<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/pageheader :: head">
<body>
	<h1>Add a new book</h1>

	<form action="" th:action="@{/submitBook}" th:object=${book} method="post">

		<div class="form-group row col-lg-4">
			<label class="col-lg-4 col-form-label">Book ID: </label> 
			<input class="form-control" th:field="*{id}">
		</div>
		
		<div class="form-group row col-lg-4">
			<label class="col-lg-4 col-form-label">Title: </label> 
			<input class="form-control" th:field="*{title}">
		</div>
		
		<div class="form-group row col-lg-4">
			<label class="col-lg-4 col-form-label">Author: </label> 
			<input class="form-control" th:field="*{author}">
		</div>
		
		<div class="form-group row col-lg-4">
			<label class="col-lg-4 col-form-label">Year Published: </label> 
			<input class="form-control" th:field="*{yearPublished}">
		</div>
		
		<div class="form-group row col-lg-4">
			<label class="col-lg-4 col-form-label">Price: </label> 
			<input class="form-control" th:field="*{price}">
		</div>

		<div class="form-group row col-lg-4">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>



	</form>





</body>
<div th:replace="fragment/pagefooter :: pagefooter"></div>
</html>