<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
		<div class="col-md-9">
    	 <table class="table table-list-search">
                    <thead>
    <tr>
      <th>#</th>
      <th>Book Number</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year Published</th>
      <th>Price</th>
    </tr>
  </thead>
  <!--Table head-->
  <!--Table body-->
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>BO142</td>
      <td>White Fang</td>
      <td>Jack London</td>
      <td>1906</td>
      <td>$10.97</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>BO329</td>
      <td>Harry Potter</td>
      <td>JK Rowling</td>
      <td>1997</td>
      <td>$9.50</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>BO113</td>
      <td>War and Peace</td>
      <td>Leo Tolstoy</td>
      <td>1867</td>
      <td>$20.83</td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>BE875</td>
      <td>The Shining</td>
      <td>Stephen King</td>
      <td>1977</td>
      <td>$23.32</td>
    </tr>
  </tbody>
  <!--Table body-->
</table>
                 
                 <div class="container">
  
  <button type="button" class="btn btn-primary">Add a new book</button>
    
</div>

</body>
</html>
		</div>
	</div>
</div>