<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/pageheader :: head">
<body>
	<div th:replace="fragment/navbar :: navbar"></div>

	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-arrow-right"></i> Book Overview
		</div>

		<div class="card-body">
			<div class="row justify-content-md-center">
				<div class="form-group col-lg-8">
					<form action="#" th:action="@{/bookFormPage}" method="post">
						<button type="submit" value="addBook" class="btn btn-primary pull-right btn-space">Add a new book</button>
					</form>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="table-responsive col-lg-8">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th>Book Title</th>
								<th>Author</th>
								<th>Year Published</th>
								<th>Price</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
		                        <tr th:each="book : ${bookList}">
			                    <td th:text="${book.id}"/>
			                    <td th:text="${book.title}"/>
		                    	<td th:text="${book.author}"/>
		                     	<td th:text="${book.yearPublished}"/>
		                    	<td th:text="${book.price}"/>
								<td>
									<form action="#" th:action="@{/editBook}" th:object=${book} method="post" style="display: inline-block;">
										<div class="d-none">
											<input name="bookId" th:value="*{id}">
										</div>
										<button class="btn btn-primary btn-sm" th:id="'btn_edit_' + ${book.id}" type="submit" title="Edit book">Edit</button>
									</form>
									<form action="#" th:action="@{/deleteBook}" th:object=${book} method="post" style="display: inline-block;">
										<div class="d-none">
											<input name="bookId" th:value="*{id}">
										</div>
										<button class="btn btn-danger btn-sm" th:id="'btn_delete_' + ${book.id}" type="submit" title="Delete book">Delete</button>
									</form>

								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


		</div>
	</div>


	<div th:replace="fragment/pagefooter :: pagefooter"></div>
</body>
</html>